<div class="audio_player" id="audio_player" style="display:none;"> <!-- Begin audio_player skin -->
         <div class="audio_filename" id="audio_filename"> </div><!-- Remove to not display filenames -->
<div class="audio_description" id="audio_description"> </div>
                  <span class="audio_button" id="audio_play">&#x25BA;</span>
                            <span class="audio_button" id="audio_pause"><small>&#x2590; &#x258C;</small></span>
                                      <span class="audio_time" id="audio_time"> </span>
<span class="audio_bar" id="audio_bar">
<div class="audio_slot"></div>
                                                <div class="audio_buffer" id="audio_buffer"></div>
<div class="audio_control"></div>
                                                         <div class="audio_knob"></div>
</span>
                                                                  <span class="audio_duration" id="audio_duration"> </span> <!-- Some people replace with id="audio_remaining" -->
</div> <!-- End audio_player skin -->
